body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.main{
  border:2px solid black;
    height: 400px;
    width: 400px;
    position: relative;
}
.ball{
width: 50px;
height: 50px;
position: absolute;
border-radius: 50%;
cursor: pointer;
animation: runner 0.5s;
}
.red{
background-color: red;
}
.blue{
    background-color: blue;
}
@keyframes runner {
    from {
        transform: translateX(-100%);
      }
      to {
        transform: translateX(0%);
      }
    

}
